@mixin standard-input-container($width, $border-color, $bg-holder-color) {
    margin: 8px 0;
    display: flex;
    width: $width + 0%;
    border: 2px solid $border-color;
    border-radius: 5px;
    overflow: hidden;

    input {
        min-width: 60%;
        border: none;
        outline: none;
        padding: 5px 10px;
        font-size: 1.5rem;
        font-weight: 600;
    }

    i {
        background-color: $bg-holder-color;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    @content;
}

@mixin standard-checkbox-container() {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .type-input-container {
        width: 100%;
        border: 1px solid $slate-900;
        padding: 5px 15px;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border: 2px solid $slate-700;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;

        input[type="checkbox"] {
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;    
        }
        
        // create a custom radio button
        .checkmark {
            height: 18px;
            width: 18px;
            background-color: $white;
            border-radius: 50%;
            border: 2px solid $slate-700;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .checkmark::after {
            content: '';
            width: 8.5px;
            height: 8.5px;
            background-color: $lime;
            position: absolute;
            border-radius: 50%;
            display: none;
        }

        &:hover {
            border-color: $lime;
            background-color: mix(white, $lime, 80%);

            .checkmark {
                border-color: $lime;
            }
        }

        input:checked ~ .checkmark::after {
            display: block;
        }

        input:checked + .checkmark {
            border-color: $lime;
        }

        &:has(input:checked) {
            border-color: $lime;
            background-color: mix(white, $lime, 80%);
        }
    }
}

.input-container {
    padding: 40px 30px;
    grid-column: 1 / 7;
    grid-row: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        font-size: 1.2rem;
        color: $slate-700;
        font-weight: 550;
    }

    .header-container {
        display: flex;
        justify-content: space-between;

        .header {
            font-size: 2.4rem;
            font-weight: 700;
            color: $slate-900;
            user-select: none;
        }

        .clear-input {
            border: none;
            background: $white;
            font-size: 1.2rem;
            color: $slate-700;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: $slate-500;
            }
        }
    }

    .mortgage-amount-container {
        .sub-input-container {
            @include standard-input-container(100, $slate-700, $slate-100) {
                i {
                    padding: 5px 10px;
                }

                input {
                    min-width: 95%;
                }
            }

            &:has(input:focus) {
                border-color: $lime;

                i {
                    background-color: $lime;
                }
            }
        }
    }

    .mortgage-term-rate-container {
        margin-top: 10px;
        margin-bottom: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 8px;
        grid-column-gap: 10px;
        grid-template-areas: 
        "label1 label2"
        "input1 input2"
        "required1 required2"
        ;

        .mortgage-term {
            grid-area: label1;
        }

        .mortgage-term-container {
            grid-area: input1;

            @include standard-input-container(100, $slate-700, $slate-100) {
                i {
                    min-width: 30%;
                    font-weight: 550;
                    font-size: 1.3rem;
                    color: $slate-500;
                }

                &:has(input:focus) {
                    border-color: $lime;
    
                    i {
                        background-color: $lime;
                        color: $slate-900;
                    }
                }
            }
        }

        .mortgage-rate {
            grid-area: label2;
        }

        .mortgage-rate-container {
            grid-area: input2;

            @include standard-input-container(100, $slate-700, $slate-100) {
                i {
                    min-width: 20%;
                    font-weight: 550;
                    font-size: 1.3rem;
                    color: $slate-500;
                }

                &:has(input:focus) {
                    border-color: $lime;
    
                    i {
                        background-color: $lime;
                        color: $slate-900;
                    }
                }
            }

        }

        .required1 {
            grid-area: required1;
        }
        
        .required2 {
            grid-area: required2;
        }

    }

    .mortgage-type-container {
        @include standard-checkbox-container();
    }

    .submit-calculate{
        margin-top: 14px;
        width: 65%;
        padding: 10px;
        background-color: $lime;
        border-radius: 25px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        i {
            display: block;
            width: 25px;
            height: 25px;
            background-image: url('../images/icon-calculator.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        section {
            font-size: 1.6rem;
            font-weight: 700;
        }

        &:hover {
            background-color: mix($white, $lime, 20%);
            box-shadow: 2px 2px 2px 2px mix($white, $lime, 80%);
        }
    }
}